* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding-top: 60px; 
}

/* Header styles */
.header_container {
    background-color: #004a78;
    color: #ffffff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    max-width: 150px;
}
.social-links {
    text-align: right;
    margin-top: -27px;
    padding-right: 5%;
}

.social-icon {
    width: 27px;
    margin: 0 10px;
}

/* Menu bar styles */
.menubar {
    background-color: #006bb3;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: fixed;
    top: 54px; 
    left: 0;
    width: 100%;
    z-index: 1000;
}

.menubar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

/* Sidebar styles */
.sidebar {
    padding: 20px;
    background-color: #d6d6d6;
    width: 200px;
    position: fixed;
    left: 0;
    top: 93px; 
    height: calc(81% + 2px); 
    text-align: center;
    z-index: 900; 
}

/* Content styles */
.content {
    margin-left: 220px; 
    padding: 54px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.content_box {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
    padding: 20px;
    width: calc(50% - 30px); 
    text-align: center; 
}

.title {
    color: #030303;
    font-size: 20px;
    margin-bottom: 10px;
}

.image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.img_des {
    color: #060606;
    font-size: 14px;
}

/* Footer styles */
.footer {
    background-color: #004a78;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}