.page_body {
  font-family: Arial, sans-serif;
  padding: 20px;
  align-items: center;
  text-align: center;
}

.table {
  width: 100%;
  border: 5px solid #484848;
  max-width: 50%;
  margin: 0 auto;
}


.table th {
  background-color: #484848;
  color: #ddd;
  padding: 10px;
}

.table td {
  border: 1px solid #484848;
  padding: 10px;
}
